*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin

.aws-sam
out.txt

examples/go
!examples/go/main.go

node_modules

.idea/
